doctype html
html(lang="es")
	link(href="resources/css/service.css", type="text/css", rel="StyleSheet", media="screen")
	include ./components/head.pug
	body
		include ./components/header.pug
		div(id="container", role="main")
			//div(class="smsc", style="background-image:url(resources/img/background.jpg)")
			h1 Servicios
			- var nr = 1
			each val in serv
				div(class="infoservic")
					h2(id=val.id)= val.title
					div(class="block")
						div(class="product")
							p= val.text
							div(class="info")
								span Tipo:
								span(class="important")= val.type
						div(class="servimage")
							img(alt="",src="resources/img/services/"+(val.img)+".jpg")

			include ./components/contacts.pug

		include ./components/foot.pug
