
.infotx h1 {
	color: #2d74b2;
  text-shadow: 3px 3px 3px #f1beac;
	text-align: center;
}

 h2 {
	text-align: center;
	 text-transform:uppercase;
	 font-size: var(--siz-h2);
	 margin:20px 10px;
	 border-bottom:1px solid var(--color-line);
}
p {
	text-align: center;
}
.section {
	background-image: url(../img/back-icon.jpg);
	padding: 10px;
	border-radius:10px;
	margin:20px 10px;
}	
.logo{
	display:block;
	position:relative;
	height:0;
	width:100%
}
.logo-bg{
	background:url(/images/logo-bg.png);
	background:linear-gradient(rgba(219,226,231,.7),rgba(219,226,231,0));
	padding-bottom:20px
}
.logo img {
	position:relative;
	display:block;
	margin:0 auto;
	top:-25px;
	height:200px
}
.smsc{
	background:50% no-repeat;
	padding:10%;
	height:0
}
.headline{
	 font-size: var(--siz-h2);
	text-shadow: 3px 3px 3px #f1beac;
	color:var(--color-text-link);
	margin-top:.5em
}
.feature a{
	display:block;
	color:inherit;
	text-decoration:none
}

#swiper{
	text-align:center;
	padding:10px;
}

#download{
	text-align:center;
	padding:20px
}
#download p{
	margin:0 0 20px
}
.button{
	display:block;
	background:#72b2dd;
	border:1px solid #6095b8;
	border-radius:3px;
	padding:10px;
	margin:auto;
	max-width:250px;
	color:#fff;
	text-decoration:none;
	text-align:center;
	text-transform:uppercase;
	font-weight:700
}


.half h2{
	font-size: 25px;
	font-weight: bold;
	line-height: 60px;
	margin-left:25px;
	margin-right:25px
}
.half p{
	margin-left:25px;
	margin-right:25px
}

.half{
	text-align:center;
	display:inline-block;
	vertical-align:middle;
	margin-top:0px;
	width:50%
}
.half img:not(.sicon){
	background:rgba(31, 118, 233, 0.30);
	border:1px solid var(--color-line);
	border-radius:15px;
	padding:35px;
	display:block;
	margin-top:10px;
	margin-bottom:10px;
	width:50%;
	max-height:370px;
	max-width:500px
}

.sicon{
	display: none;
	background:rgba(31, 118, 233, 0.30);
	border:1px solid var(--color-line);
	border-radius:5px;
	padding:15px;
	font-size: 40px;
	font-weight: bold;
	line-height: 60px;
	margin-left:30%;
	margin-right:50%;
	margin-top:10px;
	margin-bottom:10px;
	width:30%;
}


.section:nth-child(odd) {
	border-bottom:2px solid var(--color-line-sec);
}
.section:nth-child(even) {
	border-bottom:2px solid var(--color-line-sec);
}

@media all and (max-width:990px){
	.logo img{
		width:35%;
		min-width:220px;
		max-height:200px;
		height:auto
	}
}
@media all and (max-width:810px){
	.logo img{
		top:-20px;
		width:35%;
		min-width:80px;
		max-height:160px;
		height:auto
	}

	.half h2{
		margin-top:5px;
		font-size: 15pt;
		font-weight: bold;
		line-height: 20px;
		margin-left:25px;
		margin-right:25px
	}
	.half p{
		font-size: 12pt;
		line-height: 20px;
		margin-left:25px;
		margin-right:25px
	}

	.smsc{
		padding:0;
		height:150px
	}
}
@media all and (max-width:605px){

	.logo img{
		top:-10px;
		width:35%;
		min-width:80px;
		max-height:140px;
		height:auto
	}

	.feature{
		color:inherit;
		text-decoration:none
		margin-left:0px;
		margin-right:0px
	}
	.half{
		width:100%;
		display:inline
	}
	.half img:not(.sicon){
		display: none;
	}
	.sicon{
		display:block
	}
}
